<h2>Games</h2>



<div class='game_name'>
    <div class="columns is-mobile">
        <div class="column is-three-fifths">
            <div class="card" style="margin: 50px; padding:30px; border-radius:25px;">
                <h1 style="font-size:45px;">Results</h1>
                <p>
                    {{game.game_name}}
                </p>
            </div>
        </div>
    </div>
</div>






<script src="/js/game.js"></script>