<!DOCTYPE html>
<html lang="en">

<head>
    {{!--
    <meta charset="UTF-8"> --}}
    {{!--
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> --}}
    {{!-- --}}
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    {{!--
    <link rel="shortcut icon" type="image/gif" href="../../lorecraft-logo.png"> --}}
    <link rel="icon" type="image/gif"
        href="https://github.com/madison-vega/lore-craft/blob/main/lorecraft-logo.png?raw=true">

    <link rel="favicon" href="https://github.com/madison-vega/lore-craft/blob/main/lorecraft-logo.png?raw=true">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/madison-vega/lore-craft/main/public/css/styles.css">
    <link rel="stylesheet" href="../../public/css/styles.css">

    <title>Document</title>

</head>

<body>
    {{!-- navbar --}}

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/" style="">

                <img src="https://github.com/madison-vega/lore-craft/blob/main/lorecraft-logo.png?raw=true"
                    height="150px" width="100px">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>

                <a class="navbar-item">
                    Documentation
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            Characters
                        </a>
                        <a class="navbar-item">
                            Games
                        </a>
                        <a class="navbar-item" href="/api/newCharacter/createCharacter">
                            Newly created
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                <div>
                    <input type="text" placeholder="Search.." id='search' style="margin-top: 15px; border-radius: 10px;">
                    <a type="submit" class="button is-primary" id="search-submit" style="margin-top: 5px; border-radius: 10px; padding: 5px;">Submit</a>
                </div>
                </div>

            </div>


            <div class="navbar-end">

                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" id="signUp">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" id="logIn" href="/login">

                            Login
                        </a>
                        <a class="button is-light" id="logOut" href="/logout">
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{!-- End of Navbar --}}

        {{{body}}}

    <script src="/js/login.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/javascripts/handlebars.min-latest.js"></script>
    <script type="text/x-handlebars" id="lightbox-template"></script>

</body>

</html>