


    {{!-- Beginning of main --}}
    <main>
        <br>
        <div class="columns is-mobile">
            <div class="column is-three-fifths">
                <div class="card" style="margin: 100px; ">
                    <article style="margin: 50px; padding:20px">
                        <h4>Welcome to Lore-Craft!</h4>
                        <p>THis site is your guide to lore </p>
                    </article>
                </div>
            </div>

            <div>
                {{!-- video goes here --}}
            </div>
        </div>


    </main>
    {{!-- Ending of main --}}