


    {{!-- Beginning of main --}}
    <main>
        <br>
        <div class="columns is-mobile">
            <div class="column is-three-fifths">
                <div class="card" 
                style="margin: 50px; padding:30px; border-radius:30px;">

                    <article style="">
                        <h4>Welcome to Lore-Craft!</h4>
                        <p>This site is your guide to lore </p>
                    </article>

                </div>
            </div>

            <div >
                {{!-- video goes here --}}
                <iframe width="560" height="315" src="https://www.youtube.com/embed/GofgDNxyph4" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; 
                clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                style="margin-top: 65px; border-radius:10px;"></iframe>
            </div>
        </div>


    </main>
    {{!-- Ending of main --}}