{{!-- Beginning of main --}}
<main>
    <br>
    <video class="VideoPane-video" id="video-background"
        src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/o9/O9BFRQGMNF9Q1618767555513.mp4"
        data-src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/o9/O9BFRQGMNF9Q1618767555513.mp4" loop="loop"
        muted="muted" autoplay="autoplay" playsinline="playsinline"></video>


    <div class="columns is-mobile">
        <div class="column is-three-fifths">
            <div class="card" style="margin: 50px; padding:30px; border-radius:25px;">
                    <h1 style="font-size:45px;">Welcome to Lore-Craft!</h1>
                    <p>This site is your guide to lore </p>
            </div>
        </div>
    </div>



</main>
{{!-- Ending of main --}}