<article>


  <h2 class="title">Create A New Character!</h2>
  <hr>

  <form class="new-post-form">
    <div>
      <label for="char_name">Name:</label>
      <input class="input" type="text" id="char_name" name="post-title" placeholder="insert age here" />
    </div>

    <div>
      <label for="char_age">Age:</label>
      <input class="input" type="text" id="char_age" name="post-title" placeholder="insert age here" />
    </div>

    <div>
      <label for="char_race">Race:</label>
      <input class="textarea is-large" id="char_race" name="post-content" placeholder="insert race here" />
    </div>

    <div>
      <label for="char_bio">Bio:</label>
      <input class="textarea is-large" id="char_bio" name="post-content" placeholder="insert race here" />
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create character</button>
  </form>

</article>



<script src="/js/inputCharacter.js"></script>