
<article>

  
  <h2 class="title">Create A New Character!</h2><hr>

  <form class="new-post-form">
    <div>
      <label for="post-title">Age:</label>
      <input class="input" type="text" id="post-title" name="post-title" placeholder="insert age here"/>
    </div>

    <div>
      <label for="post-content">Race:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert race here"/>
    </div>

    <div>
      <label for="post-content">Bio:</label>
      <input class="textarea is-large" id="post-content" name="post-content" placeholder="insert race here"/>
    </div>
    <button type="submit" class="button is-primary is-pulled-right">create character</button>
  </form>

</article>



<script src="/js/inputCharacter.js"></script>