<!-- Trigger/Open The Modal -->
<main>
    <video id="video-background"
        src="https://assets.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt5f2da92f3229e1dd/5f198eb94afc510797a4f325/homepage_header_video.mp4"
        loop="loop" muted="muted" autoplay="autoplay" playsinline="playsinline">
    </video>

    
    <article id="login-article">
        <div class="card">
            <div class="card-content">
                Sign-in:
                <button id="login-modal-button">Here!</button>
            </div>
        </div>
    </article>



</main>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Some text in the Modal..</p>
    </div>

</div>

<script src="/js/login.js"></script> 