<div class='card'>
    <h4>Thanks for visiting!</h4>
    <button><a href="/views/login.handlebars"> click here to return to login</a></button>
    </div>
<div class="modal">
    <div class="modal-background">
    <div class="modal-card">

        <header class="modal-card-head">
            <p class="modal-card-title">Success!</p>
            <button class="delete" aria-label="close"></button>
        </header>


        <section class="modal-card-body">
            {{!-- content --}}
            You have logged out successfully!

        </section>

        <footer class="modal-card-foot">
            <button class="button">Close</button>
        </footer>

    </div>
</div>

</div>
<script src="/js/logout.js"></script>