<main>
    <video id="video-background"
        src="https://assets.blz-contentstack.com/v3/assets/bltc965041283bac56c/blt5f2da92f3229e1dd/5f198eb94afc510797a4f325/homepage_header_video.mp4"
        loop="loop" muted="muted" autoplay="autoplay" playsinline="playsinline">
    </video>


    <article id="login-article">
        <div class="card">
            <div class="card-content">
                Sign-up:
                <form id="sign-up">
                    <div>
                        <label for="email">Email</label>
                        <input class="input" type="text" id="email" name="email" placeholder="Email" />
                    </div>

                    <div>
                        <label for="password">Password:</label>
                        <input class="input" type="password" id="password" name="password" placeholder="Password" />
                    </div>


                    <br>
                    <button id="login-modal-button">Sign up</button>
                </form>

            </div>
        </div>
    </article>


</main>


