*{
    font-family: 'MedievalSharp', cursive;
    background-color: rgba(106, 142, 35, 0.76);
}

.navbar-brand, .navbar-tabs {
    align-items: stretch;
    display: flex;
    flex-shrink: 0;
}
 .navbar-item{
    min-height: 150px;
 }

